{% extends "base.html" %}

{% block title %}Kies een stad{% endblock %}

{% block content %}
<section class="w-[90%] flex justify-center items-center flex-col">
    <h1 class="flex justify-center text-[2rem]">Kies een stad en bekijk de hotels</h1>
    <form class="my-8 flex justify-center items-center w-[80%]" method="post">
        {% csrf_token %}
        <input class="rounded-l-lg border-[2px] border-green-600 w-[35%] h-10 focus:border-green-600 focus:ring-green-600 outline-green-600 focus:border-[1px]" type="search" name="city" id="city" placeholder="plaats de bestemming waar u op zoek naar bent">
        <button class="bg-green-600 p-2 rounded-r-lg hover:bg-green-500 transition-all duration-300" type="submit">Toon hotels</button>
    </form>

    <div id="suggestions" class="absolute bg-white border border-gray-300 w-[35%] max-h-60 overflow-y-auto z-10 hidden">
        <!-- Suggestions will be appended here by JavaScript -->
    </div>

    {% if hotels %}
        <ul class="flex flex-col gap-3 overflow-y-auto h-96 w-[20%] text-[0.9rem]">
            {% for hotel in hotels %}
                <li class="{% if forloop.counter0|divisibleby:2 %}bg-green-600{% else %}bg-green-500{% endif %} rounded-md p-4">
                    <div class="font-bold">
                        {{ selected_city.name }}
                    </div>
                    <div>
                        {{ hotel.hotel_code }}: {{ hotel.name }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %}
